# Replace this file name with .env and add the necessary details.

# Database configuration
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Optional: Additional settings
APP_ENV=development
APP_DEBUG=true